/** 
##Les opcions cliclables han de tenir efecte roll-over 
##El text "Disfruta..." és semitransparent.

**/

body {
    margin: 0;
}

main{
    width: 1200px;
    margin: auto;
}

.responsive{
    width: 100%;
    height: auto;
}


/* HEADER-1 ***************************************************/

.header-blue{
    background-color:white;
    display: flex;
    flex-flow: row;
}

.logo{
    background-color:white;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

.menu{
    background-color: white;
    padding: 50px 10px;
    display:flex;
    flex-direction: row;
    flex-grow: 5;
}

a:hover{
    color: #f25d4c; 
}


.icon{
    display:flex;
    flex-direction: row;
}


.menu-images{
    height: 32px;
    width: 32px;
    margin: 10px 10px 10px 20px;
    display: block;
}


.inicio {
    background-image: url(images/m-caravan-faded.png);
}

.inicio:hover{
    background-image: url(images/m-caravan.png);
}


.route {
    background-image: url(images/m-route-faded.png);
}

.route:hover{
    background-image: url(images/m-route.png);
}


.hoteles {
    background-image: url(images/m-hotel-bell-faded.png);
}

.hoteles:hover{
    background-image: url(images/m-hotel-bell.png);
}



.social-media{
    background-color:white;
    padding: 10px;
    margin: 10px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*HEADER-2****************************************************/
.header-temple {
    display: flex;
    background-color: white;
    padding: 15px;
    position: relative;
}

.slogan {
    background-color:rgb(207, 198, 198);
    opacity: 0.7;
    padding: 0 150px;
    font-size: 40px;
    color: #f25d4c;
    position: absolute; 
    left: 55px;
    bottom:20px;  
}



/*MAIN****************************************************/

.family{
    margin:20px 0;
    display:flex;
}

/*CHERRY BLOOSOM ******************************************/
.grandma-grey {
    border: rgb(209, 209, 209) solid 5px;
    padding:15px;
    background-color:white;
    flex-grow: 1;
    width: 100%;
}


/*SUSNET **************************************************/
.grandma-red{
    border: rgb(209, 209, 209) solid 5px;
    padding: 15px;
    background-color:white;
    flex-grow:1;
    width: 100%;
}




@media only screen and (max-width: 480px) {
    /*For phones*/

    main{
        width: 100%;
    }

   .header-blue{
       display: flex;
       flex-direction: column;
   }

   .logo{
       flex-grow: 1;
   } 

   .menu{
       flex-grow: 1;
       padding: 10px;
   }

   .social-media{
    flex-grow: 1;
    } 

    .grandma-grey{
        border: #f25d4c solid 5px;
    }

    .grandma-red{
        border: #f25d4c solid 5px;
        border-top: 0;
    }
}


@media only screen and (max-width: 786px) {
    /*For tablets*/

    main{
        width: 100%;
    }

    .header-blue{
        display: flex;
        flex-direction: column;
    }

    .logo{
        flex-grow: 1;
    } 
 
    .menu{
        flex-grow: 1;
        padding: 10px;
    }
 
    .social-media{
     flex-grow: 1;
    } 

    .family{
        display:flex;
        flex-direction: column;    
    }
    .grandma-grey{
        border: #f25d4c solid 5px;
    }

    .grandma-red{
        border: #f25d4c solid 5px;
        border-top: 0;
    }  
}